[package]
name = "wassima"
version = "1.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "wassima"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.20.2", features = ["abi3-py37"] }
rustls-native-certs = "0.7.0"

[package.metadata.maturin]
python-source = "wassima"
